{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{% block content %}
{% if article.category == 'blog' %}
<article>
    <h1 class="article-title">{{ article.title }}</h1>
    {% if article.mp3_link %}
    <p class="listen">
        <audio controls preload="metadata" style="width: 100%;">
            <source src="{{ article.mp3_link }}" type="audio/mpeg">
        </audio>
    </p>
    {% endif %}
    <div class="article-body">
        {{ article.content }}
    </div>
    <p class="greyed-out" style="padding-top: 20px;">
        Published on {{ article.date | strftime('%d %B, %Y') }}.
    </p>
</article>
{% elif article.category == 'photos' %}
<article>
    <div style="display: flex; justify-content: center; align-items: center;">
        <img class="round-image" src="{{ article.thumbnail }}" style="max-height: 75vh;">
    </div>
    <p style="text-align: center;">
        {{ article.content }}
        {% if article.location %}<br><span class="greyed-out">{{ article.location }}</span>{% endif %}
    </p>
    <p class="greyed-out" style="text-align: center;">
        {{ article.date | strftime('%d %B, %Y') }}
    </p>
</article>
{% endif %}
{% endblock %}
